.hero {
    height: 900px;
    width: 100%;
    margin-bottom: 50x;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    
    
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: ink free;

}

.name {
    color: teal;
    font-weight: bolder;
}

nav {
    display: flex;
    background-color: teal;
    color: #13293d;
    padding: 10px;
    text-decoration: none;
    float: inline-start;
    
  }

 li {
     display: inline-block;
     margin: 25px;
     font-size: 20pt;
     font-family: ink free;
 }

 a {
     color: white;
     text-decoration: none;
 }


.Me {
    flex: 1 0 0;
    vertical-align: baseline;
    max-height: 400px;
    float: right;
    margin-right: 50px;
    border-radius: 10px;
    float: left;

}

main {
    display: block;
    margin-bottom: 20px;
    padding: 50px;
    height: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    display: block;
    background-color: rgba(0, 128, 128, 0.548);

}
.card {
 display: inline-block;
 padding: 10px;
 border-width: 1px;
}

.title {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #232425;
    padding: 10px;
    
}